
/* NAVBAR */
.navbar{
height: 6em;
}

.nav-wrapper{
    padding: 1em;
}

.sidenav #logo-mobile{
    margin-left: 100px;
}
/* FIM NAVBAR */

@media only screen and (min-width: 993px){
  .container{
  width: 90%;

  }
  
}

/* Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eeeded;
  }

  main {
    flex: 1 0 auto;
  }
  /* FIM do Footer */

  /*cards */

 .card-content{
   font-size: 20px;
   font-style:unset;
 }
 
 
   
