h1{
    font-size: 10px;
    color:rgb(35, 0, 255);
}

a{
    color:rgb(224, 6, 6);
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}

body{
    background-color: rgb(97, 159, 179);
}

header div{
    color: brown;
}