
/* NAVBAR */
.navbar{
height: 6em;
}

.nav-wrapper{
    padding: 1em;
}

.sidenav #logo-mobile{
    margin-left: 100px;
}

/* FIM NAVBAR */

/* Grid */

.img{
  float: left;
  margin-left: auto;
  margin-right: auto;
  
}

/* Vídeo */
.video-container{
  margin-left: auto;
  margin-right: auto;
  min-width: 768px;
  padding: 300px;
}


/* Fim do Vídeo*/




/* footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eeeded;
  }

  main {
    flex: 1 0 auto;
  }
  /* FIM  footer */